body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.ping-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.language-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
}

.language-button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.language-items {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 10px;
    z-index: 1000;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    right: 0;
}

.language-items a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #ddd;
}

.language-items a:last-child {
    border-bottom: none;
}

.language-items a:hover {
    background-color: #f0f0f0;
}

.ping-button {
    cursor: pointer;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.ping-button:hover {
    background-color: #218838;
}
